@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../public/assets/fonts/Poppins-Light.ttf") format("truetype");
}

*,
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins";
  box-sizing: border-box;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
